.box-top-delivery {
    margin-bottom: 22px;
    background: #F8F8F8;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 20px 10px;
    color: #999;
    text-align: right;
}

    .box-top-delivery i {
        float: left;
        font-size: 30px;
    }

    .box-top-delivery .lead {
        margin: 0 !important;
    }



.delivery-box {
    border: 1px solid #E8E8E8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow: hidden;
}

.home_page #sidebar .sidebar .block.block_category_list #block_category_list {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.home_page #sidebar .sidebar .block.block_category_list {
    -moz-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 7px 7px 0px rgba(0,0,0,0.05);
    border: 1px solid #E7E7E7;
}

.home_page #sidebar .sidebar .block {
    border: 1px solid #EDEDED;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}



/*.dataTables_paginate_top {
    padding-top: 40px;
}*/
.tb-bottom {
    margin-bottom: 20px;
}

body {
    background-color: #fff;
}

.main-wrapper {
    background-color: #fff;
}

#f6f7f8 !important body {
    font-style: normal;
    color: #36393b;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wf-loading body {
    opacity: 0;
}

.ie.wf-loading body {
    visibility: hidden;
}


body.error404 {
    background-color: #444444;
    background-image: url('_/Content/Shop/wp-content/uploads/2016/09/4041.html');
}

.vc_custom_1474360664494 {
    margin-bottom: 0px !important;
}

.vc_custom_1474469203797 {
    margin-bottom: 0px !important;
    padding-top: 30px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474554985842 {
    margin-bottom: 0px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474555063007 {
    margin-bottom: 0px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474555001008 {
    margin-bottom: 0px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474555008236 {
    margin-bottom: 0px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474555015227 {
    margin-bottom: 0px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474556221666 {
    margin-bottom: 0px !important;
    padding-bottom: 50px !important;
    background-color: #f6f7f8 !important;
}

.vc_custom_1474556087285 {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 50px !important;
}

.vc_custom_1474468741603 {
    padding-top: 18px !important;
    background-color: #ffffff !important;
}

.vc_custom_1474470028381 {
    padding-top: 0px !important;
    background-color: #ffffff !important;
}

.vc_custom_1474644224203 {
    margin-top: 0px !important;
    border-top-width: 0px !important;
    border-top-color: #00aaf1 !important;
    border-top-style: solid !important;
}

.vc_custom_1474856861186 {
    margin-top: 0px !important;
    border-top-width: 0px !important;
    border-top-color: #CDDC39 !important;
    border-top-style: solid !important;
}

.vc_custom_1474856868824 {
    border-top-width: 0px !important;
    border-top-color: #00aaf1 !important;
    border-top-style: solid !important;
}

.vc_custom_1474856875556 {
    margin-bottom: 0px !important;
    border-top-width: 0px !important;
    border-top-color: #607D8B !important;
    border-top-style: solid !important;
}

.vc_custom_1474555643710 {
    border-top-width: 0px !important;
    padding-top: 0px !important;
    border-top-color: #67B26F !important;
    border-top-style: solid !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}











img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}


#myMobileCart {
    width: 18px;
    height: 18px;
    background: #f75f09;
    border-radius: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    top: -10px;
    font-size: 16px;
    line-height: 20px;
    left: calc(50% - 6px);
}
#myMobileCart1 {
    width: 100%;
    height: 23px;
    background: #0cebe0;
    border-radius: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    top: 23px;
    font-size: 12px;
    line-height: 20px;
    left: calc(2% - 6px);
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.disabled-Controls {
    color: silver;
}






/*.stepwizard-step p {
    margin-top: 10px;
}*/

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    color: white;
}

.btn-circle {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}

.next-previous-height {
    height: 75px;
}

.margin30 {
    margin-top: 50px;
}




ul.food {
    list-style-type: none;
}


    ul.food li button {
        display: block;
        width: 150px;
        height: 35px;
        line-height: 35px;
        background-color: #df2d13;
        color: white;
        border-radius: 7px 7px;
        text-align: center;
        margin: 5px auto;
        cursor: pointer;
        border: none;
    }

        ul.food li button span {
            font-size: 10px;
        }

        ul.food li button.disable {
            background-color: #cbcbcb;
        }

        ul.food li button:hover {
            /* content: ""; */
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
            color: #fff;
        }

.order-schedule {
    width: 156px;
    height: 156px;
    background-image: url("../img/food/order-schedule-food.png");
    border-radius: 50%;
    background-repeat: no-repeat;
}

#child, .rounded-food-menu {
    border-radius: 50%;
    position: relative;
}


    /* Pseudo-element that hides the child */
    #child::after {
        content: '';
        position: absolute;
        width: 156px;
        height: 156px;
        background-image: url("../img/food/order-now-food.png");
        top: 0;
        left: 0;
        bottom: 0;
        transform: scale(1);
        transition: transform linear 0.5s;
        border-radius: 50%;
        background-repeat: no-repeat;
        z-index: 12;
    }

    #child.animated::after {
        transform: scale(0);
    }

.indexBg {
    background-image: url('../img/food/index-bg.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    min-height: 50px;
    background-size: cover;
    height: 600px;
    padding-top: 50px;
    background-attachment: fixed;
}
/*shop delivery*/



/*.wizard {
        margin: 20px auto;
        margin-bottom: 0px;
        background: transparent;
    }

        .wizard .nav-tabs {
            position: relative;
            margin: 40px auto;
            margin-bottom: 0;
            border-bottom-color: #555;
        }

        .wizard > div.wizard-inner {
            position: relative;
        }

    .connecting-line {
        height: 2px;
        background: #e0e0e0;
        position: absolute;
        width: 80%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        z-index: 1;
    }

    .wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
        color: #555555;
        cursor: default;
        border: 0;
        border-bottom-color: transparent;
    }

    span.round-tab {
        width: 70px;
        height: 70px;
        line-height: 70px;
        display: inline-block;
        border-radius: 100px;
        background: #fff;
        border: 2px solid #e0e0e0;
        z-index: 2;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 25px;
    }

        span.round-tab i {
            color: #555555;
        }

    .wizard li.active span.round-tab {
        background: #fff;
        border: 2px solid #555;
    }


        .wizard li.active span.round-tab i {
            color: #555;
        }

    span.round-tab:hover {
        color: #333;
        border: 2px solid #333;
    }

    .wizard .nav-tabs > li {
        width: 25%;
    }

    .wizard li:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid transparent;
        border-bottom-color: #555;
        transition: 0.1s ease-in-out;
    }


    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 46%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid transparent;
        border-bottom-color: #555;
        margin-left: 27px;
    }

    .wizard .nav-tabs > li a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
    }

        .wizard .nav-tabs > li a:hover {
            background: transparent;
        }

    .wizard .tab-pane {
        position: relative;
        padding-top: 50px;
    }

    .wizard h3 {
        margin-top: 0;
    }

    .wizard {
        width: 100%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }*/

.inputs.custom-attributes {
    white-space: normal;
    padding: 5px 15px;
}

    .inputs.custom-attributes:hover {
        background: rgba(255, 255, 255, 0.5);
    }

.inputs .option-list {
    display: inline-block;
    max-width: 95%;
    vertical-align: middle;
}



.address-list-page .button-2:hover, .order-list-page .button-2:hover {
    color: #555;
}

.address-list-page .add-button {
    margin: 0 0 20px;
    text-align: center;
}

.address-edit-page .page-title {
    margin: 0 0 -1px;
}

.address-edit-page .message-error {
    margin: 20px 0;
}

.address-edit-page .edit-address {
    margin: 0 0 30px;
    border-top: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 30px 15px;
}

.inputs.custom-attributes {
    white-space: normal;
}

.inputs .option-list {
    display: inline-block;
    max-width: 95%;
    vertical-align: middle;
}

    .inputs .option-list li {
        display: inline-block;
        margin: 5px;
        border: 0;
        padding: 2px 2px;
    }

    .inputs .option-list label {
        display: inline-block;
        width: auto !important;
        margin: 0 5px 0 0;
    }

.tooltip {
    font-family: 'IRSans' !important;
}

.inputG {
    text-align: center;
}

    .inputG label {
        display: block;
    }

    .inputG input[type="radio"] {
        background-color: transparent;
        border: 0.1625em solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        box-shadow: inset 0 0 0 0 #f93c02;
        cursor: pointer;
        font: inherit;
        height: 2em;
        outline: none;
        width: 2em;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

        .inputG input[type="radio"]:checked {
            border: 0.1625em solid rgba(249, 60, 2, 0.5);
            background-color: #f93c02;
            box-shadow: inset 0 0 0 .2875em #fff;
            -webkit-transition: background .15s, box-shadow .1s;
            transition: background .15s, box-shadow .1s;
        }

.banks input[type="radio"] {
    background-color: transparent;
    border: 0.1625em solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 #f93c02;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

    .banks input[type="radio"]:checked {
        border: 0.0625em solid rgba(249, 60, 2, 0.5);
        background-color: #f93c02;
        box-shadow: inset 0 0 0 .2875em #fff;
        -webkit-transition: background .15s, box-shadow .1s;
        transition: background .15s, box-shadow .1s;
    }



.mothafockol input[type="radio"] {
    background-color: transparent;
    border: 0.1625em solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 #333;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-bottom: -3px;
}

input[type="radio"] {
    background-color: transparent;
    border: 0.1625em solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 #f93c02;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-bottom: -3px;
}

.mothafockol input[type="radio"]:checked {
    border: 0.1625em solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
    box-shadow: inset 0 0 0 .1875em #f93c02;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
}

input[type="radio"]:checked {
    border: 0.1625em solid rgba(249, 60, 2, 0.5);
    background-color: #f93c02;
    box-shadow: inset 0 0 0 .1875em #fff;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
}

.btn-round-round-green,
.btn-round-red,
.btn-round-red2 {
    color: #fff !important;
}

    .btn-round-grey i,
    .btn-round-red i,
    .btn-round-red2 i,
    .btn-round-yellow i {
        font-size: 20px;
    }

.md-round-button {
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-round-green,
.btn-round-grey,
.btn-round-red,
.btn-round-red2,
.btn-round-yellow {
    padding: 8px 30px;
    border-radius: 25px;
    box-shadow: none !important;
    margin: 20px 0;
    color: white;
}

.btn-round-red {
    background-color: #F0002F !important;
}

.btn-round-green {
    background-color: #75b925 !important;
}

    .btn-round-green:hover {
        background-color: #64ad10 !important;
    }

.btn-round-red.md-button {
    width: 100%;
    display: block;
}

.btn-round-red2 {
    background-color: #C10A28 !important;
}

    .btn-round-red2.md-button {
        width: 100%;
        display: block;
    }

.btn-round-grey {
    background-color: #f2f2f2 !important;
    color: #606060 !important;
}

    .btn-round-grey.md-button {
        width: 100%;
        display: block;
    }

.color-yellow {
    color: #FED700;
}

.btn-round-yellow {
    background-color: #FED700 !important;
    color: #343D42 !important;
}

    .btn-round-yellow.md-button {
        width: 100%;
        display: block;
    }


@-webkit-keyframes glowing {
    0% {
        background-color: #60981d;
        -webkit-box-shadow: 0 0 3px #60981d;
    }

    50% {
        background-color: #86cc31;
        -webkit-box-shadow: 0 0 40px #86cc31;
    }

    100% {
        background-color: #90ea22;
        -webkit-box-shadow: 0 0 3px #90ea22;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #60981d;
        -moz-box-shadow: 0 0 3px #60981d;
    }

    50% {
        background-color: #86cc31;
        -moz-box-shadow: 0 0 40px #86cc31;
    }

    100% {
        background-color: #90ea22;
        -moz-box-shadow: 0 0 3px #90ea22;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #60981d;
        box-shadow: 0 0 3px #60981d;
    }

    50% {
        background-color: #86cc31;
        box-shadow: 0 0 40px #86cc31;
    }

    100% {
        background-color: #90ea22;
        box-shadow: 0 0 3px #90ea22;
    }
}

@keyframes glowing {
    0% {
        background-color: #60981d;
        box-shadow: 0 0 3px #60981d;
    }

    50% {
        background-color: #86cc31;
        box-shadow: 0 0 40px #86cc31;
    }

    100% {
        background-color: #90ea22;
        box-shadow: 0 0 3px #90ea22;
    }
}

.glowing {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
/*.pageIndex {
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
    background: linear-gradient(40deg,#ffd86f,#fc6262);
    width: 100%;
    height: 500px;
}*/


.bg-gradient1 {
    /*linear-gradient( 135deg, rgb(253, 177, 83) 0%, rgb(249, 1, 1) 100%)*/
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    min-height: 700px;
    width: 100%;
    background-repeat: no-repeat;
}

.bg-gradient {
    background: #FFA534;
    background: -moz-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, #ff5221));
    background: -webkit-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -o-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: -ms-linear-gradient(top, #FFA534 0%, #ff5221 100%);
    background: linear-gradient(to bottom, #FFA534 0%, #ff5221 100%);
    background-size: 150% 150%;
    min-height: 700px;
    width: 100%;
    background-repeat: no-repeat;
}


/*department-icon*/

.department-icon {
    width: 100px;
    height: 100px;
    display: block;
}

.department-icon-food {
    background-image: url("../img/department-icon/food.png");
    background-size: contain;
}

.order-food-box {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px 0 15px 0;
}

.peach-gradient {
    background: -webkit-linear-gradient(50deg,#ffd86f,#fc6262);
    background: linear-gradient(40deg,#ffd86f,#fc6262);
}

.view-box {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 4px;
}

    .view-Box h2 {
        font-size: 18px;
        color: white;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
    }

.card-body {
    margin-top: 15px;
}

.top-text-wizard {
    margin: -40px 0 20px 0;
}

.close-mob-popup {
    width: 40px;
    height: 40px;
    background-color: #c71919;
    position: absolute;
    left: 44%;
    top: -23px;
    border-radius: 50% 50%;
    color: #fff;
    list-style-type: none;
}

.close-mob-popup {
    font-size: 18px;
}

    .close-mob-popup i {
        font-size: 28px;
        text-align: center;
        line-height: 44px;
        vertical-align: middle;
        width: 98%;
    }


.center {
    text-align: center;
}

.merge-bottom-input {
    width: 67px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.merge-top-left-button {
    border-top-left-radius: 0;
}

.merge-top-right-button {
    border-top-right-radius: 0;
}

@media screen and (max-width:1024px) {
    .factor-row-product-col-xs {
        font-size: 9px;
    }

    .factor-row-product-col-sm {
        font-size: 10px;
    }

    #bgOut {
        position: relative;
    }
}

.circle-icon-wrapper {
    margin: 20px auto 0 auto;
    cursor: pointer;
}

    .circle-icon-wrapper p {
        margin-top: 10px;
        text-align: center;
        color: black;
    }

    .circle-icon-wrapper .caption div {
        box-shadow: 0 0 5px #C8C8C8;
        transition: all 0.3s ease 0s;
    }

    .circle-icon-wrapper .img-circle {
        border-radius: 50%;
    }

    /*.img-circle {
            border-radius: 0;
        }*/

    .circle-icon-wrapper .ratio {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        /*height: 0;*/
        /*padding-bottom: 100%;*/
        /*position: relative;*/
        width: 100%;
    }

    .circle-icon-wrapper .img-circle {
        border-radius: 50%;
    }

    .circle-icon-wrapper .img-responsive {
        display: block;
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }

@media screen and (min-width:1025px) {
    #bgOut {
        position: absolute;
    }
}

#bgOut {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: translate(0);
    /*overflow: hidden;*/
    min-height: 850px;
}

.circle-icon-wrapper span {
    position: absolute;
    right: 68px;
    color: #f8f8f8;
    background-color: red;
    border-radius: 15px;
    width: 13%;
    text-align: center;
    margin: auto;
}

.circle-icon-wrapper.disable, .circle-icon-wrapper a.disable {
    cursor: not-allowed;
}

/*@media screen and (min-width: 1024px) and (max-width:1439px) {
    .shop-products.grid-view .product-wrapper .actions {
        bottom: 0;
    }
}*/
@media screen and (width: 800px) {
    .shop-products.grid-view .product-wrapper .list-col8 {
        height: 30px;
    }
}

/*.list-col8 .gridview {
    min-height: 70px;
}*/

.wizard-margin-top {
    margin-top: 50px;
}

.input-group-btn .plus-button {
    border-radius: 0 3px 3px 0 !important;
    width: 10px;
    text-align: right;
}

.input-group-btn .minus-button {
    border-radius: 3px 0 0 3px !important;
    width: 10px;
    text-align: right;
}


/*----------------------Tourism-------------------------*/
div.tourism-item {
}

    div.tourism-item .info-home-smart-line {
        border-bottom: 1px solid #ebebeb;
        border-top: 1px solid #ebebeb;
        margin: 0 0 22px 0;
        padding: 8px 0;
    }

        div.tourism-item .info-home-smart-line > span {
            font-size: 12px;
            padding-right: 19px;
            color: #adadad;
        }

            div.tourism-item .info-home-smart-line > span > i {
                display: inline-block;
                padding-right: 5px;
            }

    div.tourism-item .image_blog {
        margin-bottom: 20px;
    }

a.tour-name {
    outline: none;
    color: #595959;
    text-decoration: none;
}

.tour-smart-content {
    color: #7b7b7b;
    line-height: 25px;
    font-size: 12px;
}


.tour-content-blog {
}
/*.tour-content-blog .dor-effect-hzt:hover, .tour-content-blog .dor-effect-hzt:focus, .tour-content-blog .dor-effect-hzt:active {
    color: white;
    border-radius: 25px !important;
}*/

.btn-green2 {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.btn-dark, .btn-dark:hover {
    background-color: #363c36;
    border-color: #2e312e;
    color: white !important;
}



.round-orange-btn {
    border: 1px solid #f94a06;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 400;
    margin: 25px 0;
    padding: 9px 25px;
    color: #515151;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    /* position: relative; */
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

    .round-orange-btn:hover, .round-orange-btn:focus, .round-orange-btn:active {
        color: white;
    }

        .round-orange-btn:hover:before, .round-orange-btn:focus:before, .round-orange-btn:active:before {
            border-radius: 25px !important;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

    .round-orange-btn:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f94a06;
        border-radius: 25px !important;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

.tour-header-details {
    text-align: center;
    font-size: 31px !important;
    color: #f75f09;
}

.tour-description-details {
    font-size: 13px;
}

.orange-text-color {
    color: #f75f09;
}

.tour-description-option .container .row div {
    margin-top: 20px;
}

.input-off-padding div input[type='text'], .input-off-padding div select {
    padding: 0;
}
/*max-width: 100%; width: 100%; font-size: 30px; transition: 0.4s;border-radius: 45px;*/


.box-design-silver {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
    background-color: #eceff1;
}

.round-orange-btn2 {
    color: white;
    background-color: #f44336;
    border-color: #f44336;
}

.round-dark-btn {
    color: white;
    background-color: #464e56;
    border-color: #464e56;
}

.round-btn2 {
    border: 2px solid transparent;
    border-radius: 0.35rem;
    padding: 1rem 1.5rem;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

    .round-btn2:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
    }

    .round-btn2:focus {
        outline: none !important;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }


.my-car-list {
    height: 40px;
    background-color: #fff;
    padding-right: 13px !important;
    line-height: 40px;
    border: 1px solid silver;
}

select.customeStyle {
    border-radius: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
    float: right;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 3px;
        bottom: 0px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #f94d06;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.switch-label {
    float: right;
    padding-right: 4px;
}

.switch-description {
    font-size: 12px;
}

    .switch-description.factor {
        font-size: 14px;
        line-height: 32px;
    }

.switch-header {
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    height: 38px;
    padding: 8px 5px 0 0;
    color: white;
    margin-bottom: 10px;
}

.switch-header-orange {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.switch-header-green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.switch-header-purple {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
}


.switch-box {
    background-color: #fff;
    display: block;
    clear: both;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    padding: 8px 8px;
}

.check-box-crwash {
    padding-top: 12px;
    border-top: 1px solid silver;
}


/*-------------------------------------------------------------------*/
.Luxury-block-product {
    margin-bottom: 40px;
}

.LuxuryImg {
    width: 100%;
    height: 100%;
    max-height: 483px;
}


.Luxury-product {
    background-color: white;
    padding: 10px 10px;
}


    .Luxury-product:hover {
        box-shadow: 0px 3px 5px 0px #ddd;
    }

.dor-cart-lists.cart-list-dor {
    position: relative;
    right: 0%;
    bottom: -26px;
    display: flex;
}


    .dor-cart-lists.cart-list-dor a.button.ajax_add_to_cart_button {


        border-radius: 100%;
        color: #fff;
        display: block;
        font-size: 20px;
        height: 60px;
        margin: -33px auto 0;
        width: 60px;
    }

a.button.ajax_add_to_cart_button span {
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 20px;
    font-weight: normal;
}

.luxury-title {
    text-align: center;
    padding: 10px 0;
}
/*@media (max-width: 420px) {
    .billboard {
        background-image: url('../img/Department-icon/Billboard.png');
        width: 100%;
        height: 100px;
    }
}*/


/*breadcrumbcss*/
.breadcrumb.clearfix {
    color: #ff0000;
    height: 30px;
    display: block;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    z-index: 99;
    padding: 2px;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.25);
}

.breadcrumb span, .breadcrumb a {
    color: rgba(255, 255, 255, 0.80);
    font-size: 13px;
    padding: 1px;
    padding-top: 1px;
    position: relative;
    display: inline-block;
}

.hotlabel {
    background: #ec483b;
    position: absolute;
    left: 17px;
    top: 10px;
    border-radius: 0;
    box-shadow: none;
    height: 25px;
    min-height: 25px;
    line-height: 27px;
    padding: 0 10px;
    text-align: center;
    padding-left: 20px;
    color: white;
}

    .hotlabel:before {
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 10px solid #fff;
        position: absolute;
        left: 0;
        top: -2px;
    }

.unAvailable {
    color: red;
    padding-top: 5px;
    font-weight: bold;
}

.content_price {
    padding: 10px 0;
    text-align: center;
}

.unAvailable-details {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 9px;
}



.check-box-custom .check-box-custom-input:checked + .check-box-custom-sign .check {
    background: #f93d03;
}

    .check-box-custom .check-box-custom-input:checked + .check-box-custom-sign .check:before {
        color: #fff;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
        -webkit-animation: .3s forwards checkbox-on;
        animation: .3s forwards checkbox-on;
        margin-right: 10px;
    }

.check-box-custom .check-box-custom-sign .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -3px;
    margin-left: 7px;
    width: 0;
    color: #fff;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: .3s forwards checkbox-off;
    animation: .3s forwards checkbox-off;
}


.check-box-custom {
    margin-bottom: .5rem;
    padding-left: 0;
    position: relative;
    display: block;
    margin-top: 15px;
}

    .check-box-custom .check-box-custom-label {
        font-size: 14px;
        line-height: 1.42857;
        color: #aaa;
        font-weight: 400;
        cursor: pointer;
        padding-right: 30px;
        margin-bottom: 0;
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

        .check-box-custom .check-box-custom-label span {
            display: block;
            position: absolute;
            right: -1px;
            top: -1px;
            transition-duration: .2s;
        }

    .check-box-custom .check-box-custom-sign {
        vertical-align: middle;
        position: relative;
        top: -2px;
        float: right;
        padding-right: 10px;
        display: inline-block;
    }

        .check-box-custom .check-box-custom-sign:before {
            display: block;
            position: absolute;
            right: 0;
            content: "";
            background-color: rgba(0,0,0,.84);
            height: 20px;
            width: 20px;
            border-radius: 100%;
            z-index: 1;
            opacity: 0;
            margin: 0;
            top: 0;
            -webkit-transform: scale3d(2.3,2.3,1);
            transform: scale3d(2.3,2.3,1);
        }

        .check-box-custom .check-box-custom-sign .check {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid rgba(0,0,0,.54);
            overflow: hidden;
            z-index: 1;
            border-radius: 3px;
        }




    .check-box-custom .check-box-custom-input {
        opacity: 0;
        position: absolute;
        margin: 0;
        z-index: -1;
        left: 0;
        pointer-events: none;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }

/*SeoContent*/

blockquote {
    border-left: none
}

.quote-badge {
    background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: #161515b8;
    margin-top: 25px;
    color: white;
    box-shadow: 1px 1px 1px 1px #E0E0E0;
}

.quotation-mark {
    margin-top: -10px;
    font-weight: bold;
    font-size: 100px;
    color: white;
}

.quote-text {
    font-size: 19px;
    margin-top: -65px;
}


blockquote {
    border-left: 2px solid #eee !important;
}

.checkout-button.button.wc-forward {
    background: #0a0a0a;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
