.buttontaga {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/

    /*input has OS specific font-family*/
    color: #069;
    font-family: inherit;
    cursor: pointer;
}

.btn_sabtnam {

    padding: 8px 0;
    width: 90%;
    margin: 15px auto;
    display: inline-block;
    border-radius: 3px;
    background:    #f75f09;
    color: #fff;

}

.s_kharid {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -249px -129px;
}

.s_kharbi {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -368px -129px;
}
.s_estelam {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -488px -129px;
}
.estelam{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -488px -129px;
    }

.darbareh_ma{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -728px -129px;
}
.text-white {

    color : white;
    margin-right: 37px;

}

.text-white1 {

    color : white;


}


.btn-custom {


    width: 165px;
    height: 38px;
    background-color: #0cebe0;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.axe_daramad{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -489px -248px;
}

.axe_safhekar{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -248px;
}

.axe_estelam{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -399px -270px;
}
.axe_basket{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -269px -267px;
}

.package{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -849px -129px;
}
.support{
    width: 100px; height: 100px;
    background: url('roniksprit.png')  -609px -129px;
}

.exit{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -973px -129px;
}
.garante{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1089px -129px;
}

.info_elen{
    width: 100px; height: 100px;
    background: url('roniksprit.png') -609px -250px;
}


.btn_sabtnam1{

    padding: 8px 0;
    width: 100%;
    margin: 15px auto;
    display: inline-block;
    border-radius: 3px;
    background:    #f75f09;
    color: #fff;

}


            .edit_profile {
                width: 100px; height: 100px;
                background: url('roniksprit.png') -1448px -129px;
            }
           .savebegh_kharid {
               width: 100px; height: 100px;
               background: url('roniksprit.png') -128px -248px;
           }
            .sabad_kharabi {
                width: 100px; height: 100px;
                background: url('roniksprit.png') -1328px -129px;
            }

            .foroshgah {
                width: 100px; height: 100px;
                background: url('roniksprit.png') -1208px -129px;
            }
.new_kharabi {
  width: 100px; height: 100px;
  background: url('roniksprit.png') -9px -245px;
}
.top-text-wizard {

    margin: -40px 0 20px 0;

}
.dandanpezeshki {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -609px -9px;
}
.cheshmpezeshki {
    width: 100px; height: 100px;
    background: url('roniksprit.png')  -729px -9px;
}
.azmayeshgah {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -9px;
}
.postmo {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1329px -9px;
}
.phizio {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1089px -9px;
}
.zanan {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -9px -129px;
}
.bimarestan {
     width: 100px; height: 100px;
     background: url('roniksprit.png') -850px -9px;
 }
.otaghamal {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -128px -129px;
}
.tasisat {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1448px -9px;
}
.tasvir {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1211px -9px;
}






.bg-Ads {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -10px;
}


.bg-Acc {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -10px;
}


.bg-Agriculture {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -130px;
}


.bg-animalfeed {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -130px;
}


.bg-ashayer {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -10px;
}


.bg-Attractions {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -130px;
}


.bg-Barber {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -250px;
}


.bg-BedRoom {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -250px;
}


.bg-Bee {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -250px;
}


.bg-Bicycle {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -10px;
}


.bg-BikeDelivery {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -130px;
}


.bg-Book {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -250px;
}


.bg-Book2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -370px;
}


.bg-Booking {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -370px;
}


.bg-Bread {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -370px;
}


.bg-break {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -370px;
}


.bg-Breed {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -10px;
}


.bg-Bulding {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -130px;
}


.bg-BulkTanker {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -250px;
}


.bg-Bus {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -370px;
}


.bg-Camera {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -490px;
}


.bg-car {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -490px;
}


.bg-car_crane {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -490px;
}


.bg-Carpet {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -490px;
}


.bg-car_service {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -490px;
}


.bg-car_wash {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -10px;
}


.bg-Chat {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -130px;
}


.bg-Cinema {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -250px;
}


.bg-Cleaner {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -370px;
}


.bg-Cleaning {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -490px;
}


.bg-Clothes {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -610px;
}


.bg-clothing {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -610px;
}


.bg-Coffee {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -610px;
}


.bg-ColdRoom {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -610px;
}


.bg-commerce {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -610px;
}


.bg-Computer {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -610px;
}


.bg-consulting {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -10px;
}


.bg-Cooking {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -130px;
}


.bg-culture_art {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -364px 4px;
}


.bg-decorating {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -370px;
}


.bg-Decoration {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -490px;
}


.bg-digital {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -610px;
}


.bg-DoorParking {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -730px;
}


.bg-electric {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -730px;
}


.bg-Electrical {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -730px;
}


.bg-electric_tools {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -730px;
}


.bg-Electronic {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -730px;
}


.bg-Elevator {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -730px;
}


.bg-enamad {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -730px;
}


.bg-Energy {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -10px;
}


.bg-engine_tuning {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -130px;
}


.bg-Event {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -250px;
}


.bg-events_news {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -370px;
}


.bg-eye {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -490px;
}


.bg-Eyebrow {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -610px;
}


.bg-face {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -730px;
}


.bg-factor {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -850px;
}


.bg-Fish {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -850px;
}


.bg-Flight {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -850px;
}


.bg-FoodIndustry {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -9px -6px;
}


.bg-FoodIndustry2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -850px;
}


.bg-fork {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -850px;
}


.bg-fridge {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -850px;
}


.bg-Furnichers {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -850px;
}


.bg-Game {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -10px;
}


.bg-Gem {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -130px;
}


.bg-gift {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -250px;
}


.bg-Greenhouse {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -370px;
}


.bg-hair {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -490px;
}


.bg-haircare {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -610px;
}


.bg-Handicrafts {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -730px;
}


.bg-Handicrafts2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -850px;
}


.bg-HomeApp {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -970px;
}


.bg-HomeAppliances {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -970px;
}


.bg-homesecurity {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -970px;
}


.bg-Homeservis {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -970px;
}


.bg-Hotel {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -970px;
}


.bg-hygienics {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -970px;
}


.bg-hypermarket {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -128px 0px;
}


.bg-Industrial {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -970px;
}


.bg-injo_off {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -970px;
}


.bg-Inlay {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -10px;
}


.bg-investment {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -130px;
}


.bg-InvestmentMain {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -250px;
}


.bg-iran {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -370px;
}


.bg-JD {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -490px;
}


.bg-Job {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -610px;
}


.bg-Laptop {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -730px;
}


.bg-Learning {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -850px;
}


.bg-Leather {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -970px;
}


.bg-lips {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -1090px;
}


.bg-Livestock {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -1090px;
}


.bg-LongTerm {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -1090px;
}


.bg-Mag {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -1090px;
}


.bg-Magazine {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -1090px;
}


.bg-Magnet {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -1090px;
}


.bg-makeup {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -1090px;
}


.bg-makeup2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -1090px;
}


.bg-makeup_tools {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -1090px;
}


.bg-Masonry {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -1090px;
}


.bg-Measurement {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -10px;
}


.bg-Med {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -130px;
}


.bg-Medical {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -250px;
}


.bg-Meeting {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -370px;
}


.bg-men {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -490px;
}


.bg-menwomen {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -610px;
}


.bg-Metal {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -730px;
}


.bg-MidTerm {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -850px;
}


.bg-Mixer {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -970px;
}


.bg-mother {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -1090px;
}


.bg-Music {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -1210px;
}


.bg-MyCard {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -1210px;
}


.bg-oil {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -1210px;
}


.bg-Online {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -1210px;
}


.bg-OnlineRecipes {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -1210px;
}


.bg-OrderFood {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -1210px;
}


.bg-organic {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -1210px;
}


.bg-organic2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -1210px;
}


.bg-Other {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -1210px;
}


.bg-Packing {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -1210px;
}


.bg-PC {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -1210px;
}


.bg-Phone {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -10px;
}


.bg-PickupTruck {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -130px;
}


.bg-Plumbing {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -250px;
}


.bg-Pottery {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -370px;
}


.bg-PreOrder {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -490px;
}


.bg-Printer {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -610px;
}


.bg-Protein {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -730px;
}


.bg-realEstate {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -850px;
}


.bg-Realestate2 {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -970px;
}


.bg-Repair {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -1090px;
}


.bg-requirement {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -1210px;
}


.bg-reserve {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -1330px;
}


.bg-Rug {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -1330px;
}


.bg-Saffron {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -1330px;
}


.bg-Seed {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -1330px;
}


.bg-Services {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -1330px;
}


.bg-shapes {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -1330px;
}


.bg-Ship {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -1330px;
}


.bg-ShortTerm {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -850px -1330px;
}


.bg-skincare {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -970px -1330px;
}


.bg-Smarthome {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1090px -1330px;
}


.bg-Sofa {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1210px -1330px;
}


.bg-specialist_working_group {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1330px -1330px;
}


.bg-Speech {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -10px;
}


.bg-StartUp {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -130px;
}


.bg-Stone {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -250px;
}


.bg-StoneFactory {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -370px;
}


.bg-Story {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -490px;
}


.bg-supplier {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -610px;
}


.bg-Tablet {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -730px;
}


.bg-taxi {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -850px;
}


.bg-Teb {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -970px;
}


.bg-tire {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -1090px;
}


.bg-Tourism {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -1450px -1210px;
}


.bg-TourismMain {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -4px;
}


.bg-TradeRequest {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -10px -1450px;
}


.bg-Transportation {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -130px -1450px;
}


.bg-travel {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -250px -1450px;
}


.bg-Truck {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -370px -1450px;
}


.bg-tutorial {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -490px -1450px;
}


.bg-Video {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -610px -1450px;
}


.bg-wellness {
    width: 100px; height: 100px;
    background: url('roniksprit.png') -730px -1450px;
}

.bg-grain {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -850px -1450px;
}

.bg-fruit {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -970px -1450px;
}

.bg-vegetable {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1090px -1450px;
}


.bg-Send-text {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1210px -1450px;
}

.bg-Investment-Signal {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1330px -1450px;
}

.bg-Investment-Article {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1450px -1450px;
}

.bg-drinks-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -10px -1570px;
}


.bg-Protein-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -130px -1570px;
}


.bg-Spices-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -250px -1570px;
}


.bg-Cosmetics-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -370px -1570px;
}


.bg-Snacks-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -490px -1570px;
}


.bg-Others-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -610px -1570px;
}


.bg-Canned-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -730px -1570px;
}

.bg-Dairy-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -850px -1570px;
}

.bg-Stationery-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -970px -1570px;
}

.bg-Nuts-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1090px -1570px;
}


.bg-Detergents-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1210px -1570px;
}

.bg-Daily-HyperMarkert {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1330px -1570px;
}

.bg-ReserveCar-Tourism {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -1450px -1570px;
}

.bg-ListReserveCar-Tourism {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -10px -1690px;
}

.bg-Ticket-Theater {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -130px -1690px;
}

.bg-Medical-Products {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -250px -1690px;
}


.bg-Home-Made-Cookie {
    width: 100px;
    height: 100px;
    background: url('roniksprit.png') -370px -1690px;
}

