.agent-simple {
    margin-bottom: 30px;
}

.agent-simple-title {
    color: map-get($grey, 700);
    font-size: 20px;

    a {
        color: map-get($grey, 700);

        &:hover {
            text-decoration: none;
        }
    }
}

.agent-simple-image {
    background-color: rgba(black, .15);
    border-radius: 50%;
    display: block;
    height: 0px;
    margin: 0px 0px 30px 0px;
    padding-bottom: 100%;
    position: relative;

    &:before {
        @include placeholder('\f007', 55);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%), translateY(-50%);
    }

    img {
        border-radius: 50%;
        position: relative;
        width: 100%;
        z-index: 2;
    }
}

.agent-simple-content {
    bottom: 45px;
    right: 0px;
    position: absolute;
    z-index: 3;

    span {
        background-color: rgba(white, .8);
        display: inline-block;
        line-height: 2;
        padding: 0px 8px;

        .fa {
            margin-left: 5px;
        }
    }

    .agent-simple-email {
        margin: -3px 0px;

        a {
            color: map-get($color-secondary, 400);
        }
    }
}
