@font-face {
	font-family: 'web-myriad';
	src: url("../fonts/web-myriad.eot");
	src: url("../fonts/web-myriad.eot?#iefix") format("embedded-opentype"), 
		 url("../fonts/web-myriad.woff2") format("woff2"), 
		 url("../fonts/web-myriad.woff") format("woff"), 
		 url("../fonts/web-myriad.ttf") format("truetype");
}