.header {
    background-color: map-get($color-primary, 600);
    color: #fff;
    display: table-row;
    height: 1px;
    z-index: 100;

    &.header-minimal {
        background-color: #fff;

        &.primary {
            background-color: map-get($color-primary, 600);
        }
    }
}

.header-inner {
    position: relative;

    .header-standard & {
        padding: 27px 0px;
    }

    .header-minimal & {
        padding: 10px 0px;
    }

}

.header-main {
    @extend .clearfix;

    .header-large & {
        margin: 37px 0px;
    }

    .header-call-to-action-wrapper & {
        background-color: rgba(255, 255 ,255, 0.1);
        padding: 20px 700px 20px 700px;
        margin: -27px -700px 0px -700px;
    }
}

.header-title {
    float: right;
    font-size: 30px;
    margin-top: 3px;

    .header-minimal & {
        font-size: 24px;
        margin-top: 8px;
    }

    img {
        margin-left: 15px;
        opacity: .5;
        transition: opacity .15s linear;
        vertical-align: -8px;

        .header-minimal & {
            height: 34px;
            opacity: 1;
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            margin-left: 0px;
        }
    }

    a {
        color: #fff;

        .header-minimal & {
            color: map-get($grey, 800);
        }

        .header-minimal.primary & {
            color: #fff;
        }

        &:hover {
            color: #fff;
            text-decoration: none;

            .header-minimal & {
                color: map-get($grey, 800);
            }

            .header-minimal.primary & {
                color: #fff;
            }
        }

        &:active, &:focus {
            text-decoration: none;
        }
    }

    span {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            display: none;
        }
    }

    &:hover {
        img {
            opacity: 1;
        }
    }
}

.header-title-image {
    fill: map-get($color-primary, 200);
    height: 36px;
    margin-left: 10px;
    vertical-align: -6px;
    width: 36px;
}

.header-search {
    float: left;
    margin-right: 100px;
    width: 550px;

    @media (max-width: $screen-xs-max) {
        clear: both;
        float: none;
        margin: 0px;
        padding: 20px 0px 0px 0px;
        width: 100%;
    }

    .input-group {
        margin: 0px;
    }

    .form-control {
        background-color: transparent;
        box-shadow: none;
        border: 0px;
        border-bottom: 2px solid map-get($color-primary, 200);
        border-radius: 0px;
        color: #fff;
        font-size: 30px;
        height: 60px;
        padding: 0px;
        transition: border-color .15s linear;

        @include input-placeholder {
            color: #fff;
        };

        &:focus {
			border-bottom-color: #fff;
        }

        &:focus ~ .input-group-btn {
            .btn {
                border-bottom-color: #fff;
            }
        }
    }

    .input-group-btn {
        .btn {
            background-color: transparent;
            border: 0px;
            border-bottom: 2px solid map-get($color-primary, 200);
            border-radius: 0px;
            box-shadow: none;
            height: 60px;
            transition: border-color .15s linear;

            i {
                font-size: 28px;
                vertical-align: middle;
            }

            &:hover, &:focus {
                color: #fff;
                outline: 0px !important;
            }

            &:after, &:before {
                display: none;
            }
        }
    }
}

.header-action {
    background-color: map-get($color-secondary, 500);
    border-radius: 50%;
    bottom: -28px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
    color: #fff;
    cursor: pointer;
    display: block;
    height: 56px;
    line-height: 54px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    text-align: center;
    transition: box-shadow .15s linear;
    width: 56px;
    z-index: 100;

    .fa {
        font-size: 18px;
        line-height: 58px;
    }

    &:hover {
        color: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .4);
    }

    &:active, &:focus {
        color: #fff;
        outline: 0px;
    }
}

@media (max-width: $screen-xs-max) {
	.header-action {
		.header-large & {
			bottom: -64px;
			left: 5px;
		}
	}
}

.header-call-to-action {
    margin: 84px 0px;
    text-align: center;

    h1 {
        font-size: 40px;
        margin: 0px 0px 30px 0px;
        padding: 0px;
    }

    h2 {
        font-size: 14px;
        line-height: 24px;
        margin: 0px auto;
        overflow: hidden;
        padding: 0px;
        width: 50%;
    }

    .buttons {
        margin-top: 60px;

        a {
            margin: 0px 15px;
        }

        @media (max-width: $screen-xs-max) {
            .btn {
                display: block;
                float: none;
                margin: 0px 0px 10px 0px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }            
        }
    }
}

.header-background {
    background-image: url('../img/tmp/mix-bw.png');
    background-size: 1083px 536px;
}

.header-background-inner {
    background-color: rgba(map-get($color-primary, 500), .85);
    position: relative;
}
