.invoice-wrapper {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, .1);
    padding: 20px;
}

.invoice-header {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.invoice-logo {
    float: right;
    font-size: 26px;
    text-transform: uppercase;
	margin-bottom: 20px;

    i {
        color: map-get($color-primary, 400);
        margin: 0px 0px 0px 10px;
    }
}

.invoice-description {
    float: left;
	margin-bottom: 18px;

    span, strong {
        display: block;
    }

    strong {
        font-size: 20px;
    }
}

.invoice-info {
    padding: 20px 0px;
}
