#map-canvas {
    height: 200px;
    margin-bottom: 30px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
	border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 30px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 0 13px 0 11px;
	width: 400px;
	font-family: 'web-myriad', tahoma, arial;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-right: -1px;
    padding-right: 14px;  /* Regular padding-right + 1. */
    width: 401px;
}

.pac-container {
	font-family: 'web-myriad', tahoma, arial;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: 'web-myriad', tahoma, arial;
    font-size: 13px;
    font-weight: 300;
}
