.property-browser {
    display: table;
    height: 100%;
    width: 100%;

    .row {
        &:last-child {
            .property-preview {
                margin-bottom: 0px;
            }
        }
    }

    @media (max-width: $screen-sm-max) {
        display: block;
    }
}

.property-browser-right {
    background-color: map-get($grey, 200);
    border-left: 1px solid map-get($grey, 300);
    display: table-cell;
    padding: 30px;
    vertical-align: top;
    width: 360px;

    strong {
        color: map-get($grey, 500);
        display: block;
        font-size: 12px;
        margin: 0px -15px 15px 0px;
        text-transform: uppercase;
    }

    @media (max-width: $screen-sm-max) {
        display: block;
        width: 100%;
    }
}

.property-browser-left {
    background-color: map-get($grey, 50);
    display: table-cell;
    padding: 30px;
    vertical-align: top;

    @media (max-width: $screen-sm-max) {
        display: block;
        width: 100%;
    }
}
