.property-row {
    @extend .clearfix;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .08);
    margin-bottom: 30px;
}

.property-row-image {
    @include image_hover;
    background-color: rgba(black, .15);
    display: block;
    float: right;
    height: 195px;
    width: 262px;

    &:before {
        @include placeholder('\f015', 40);
    }

    img {
        display: block;
        position: relative;
        width: 100%;
        z-index: 2;
    }

    @media (max-width: $screen-sm-max) {
        float: none;
        height: auto;
        width: 100%;
    }
}

.property-row-body {
    color: map-get($grey, 700);
	margin-bottom: 49px;
	
	@media (max-width: $screen-sm-max) {
		margin-bottom: 10px;
	}
}

.property-row-content {
    float: right;
    margin-right: 30px;
    min-height: 195px;
    position: relative;
    width: 525px;

    @media (max-width: $screen-md-max) {
        width: 375px;
    }

    @media (max-width: $screen-sm-max) {
        float: none;
        margin-right: 0px;
        padding: 0px 15px;
        width: 100%;
		min-height: 0;
    }
}

.property-row-title {
    color: map-get($color-black, 800);
    margin-bottom: 0px;

    a {
        color: map-get($color-black, 800);
    }
}

.property-row-location {
    border-bottom: 1px solid rgba(black, .08);
    display: block;
    list-style: none;
    margin: 6px 0px 10px 0px;
    padding: 0px 0px 10px 0px;

    li {
        display: inline;

        a {
            color: #9E9E9E;
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

.property-row-meta {
    @extend .clearfix;

    background-color: map-get($grey, 100);
    border-top: 1px solid map-get($grey, 300);
    bottom: 0px;
    left: -30px;
    position: absolute;
    right: -30px;

    @media (max-width: $screen-sm-max) {
        position: relative;
		right: 0;
		left: 0;
		margin: 0 -15px;
    }
}

.property-row-meta-item {
    border-left: 1px solid map-get($grey, 300);
    float: right;
    font-size: 12px;
    padding: 6px 20px;
	
	&.property-row-price{
		color: map-get($color-secondary, 500);
	}

    span {
        margin: 0px 0px 0px 5px;
    }

    strong {
        font-weight: 500;
    }

    &:last-child {
        border-left: 0px;
    }
	
	@media (max-width: $screen-xs) {
		width: 50%;
		border-top: 1px solid map-get($grey, 300);
		border-left: 0;
		
		&:nth-child(odd) {
			border-left: 1px solid map-get($grey, 300);
		}
		
		&:nth-child(even) {
			border-bottom: 1px solid map-get($grey, 300);
			margin-bottom: -1px;
		}
		
		&:first-child, &:nth-child(2){
			border-top: 0;
		}
		
		&:last-child{
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
}
